/*
----------------------------------
- Load and hide images
----------------------------------
*/
#suspension, #car {
    display: none;
}


/*
----------------------------------
- body
----------------------------------
*/

body {
    background-color: #5fc0b6;
}


/*
----------------------------------
- canvas
----------------------------------
*/
#canvas{
    /* border: 1px solid black; */
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    margin: auto;
}

/*
----------------------------------
- fonts
----------------------------------
*/
h1, h2, p {
    color: white;
}
h1 {
    font-family: 'Raleway', sans-serif;
    font-size: 60px;
}
h2 {
    font-size: 18px;
}
p {
    font-family: 'Josefin Sans', sans-serif;

}
/*
----------------------------------
- instruction
----------------------------------
*/
.inst {
    display: none;
    position: fixed;
    z-index: 1;
    padding-top: 100px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%; 
    background-color: rgba(0,0,0,0.7); 
    
  }
.inst > .content {
    background-color: #c7b77f;
    margin: auto;
    padding: 20px;
    border: 1px solid rgb(150, 150, 150);
    width: 50%;
    height:50%;
  }
.close {
    color:rgb(0, 25, 54);
    float: right;
    font-size: 28px;
    font-weight: bolder;
}
.close:hover, .close:focus {
  color: rgb(211, 211, 211);
  cursor: pointer;
}
#inst-title{
    color:rgb(97, 77, 77);
}
#inst-content {
    color:black;
    font-weight:700;
    font-family: 'Josefin Sans', sans-serif;
    color:rgb(0, 25, 54);
    font-size:17px;
}
/*
----------------------------------
- specs 
----------------------------------
*/
.wheels-container {
    position: fixed;
    /* top: 0px;
    margin-left: 25%; */
    bottom: 100px;
    right: 20px;
}

.wheels-container > * {
    display: inline;
    font-size: 20px;
    font-weight: bold;
    font-family: 'Josefin Sans', sans-serif;
}
#old-setup-spec {
    background: rgba(255, 191, 92, 1);
    padding:6px;
}
#new-setup-spec {
    background: rgb(141, 117, 250);
    padding:6px;
}


/*
----------------------------------
- keyboards
----------------------------------
*/
.keyboards-container {
    display: block;
    margin-top: 40px;
    margin-left: 30px;
    background: rgba(226, 226, 226, 0.3);
    width: 230px;
    height: 120px;
    border-radius: 20px;
}

#h-arrows, #v-arrows {
    width: 60px
}

#spacebar {
    width: 40px;
}

.keyboards-container > p{
    text-align: center;
    display: block;
    margin-top: -15px;
    font-weight: 400;
    font-family: 'Josefin Sans', sans-serif;
}

.keyboards-container > p > img {
    vertical-align: middle;
}

#h-arrows {
    margin-left: -15px;
}

#v-arrows {
    margin-top: -10px;
}

#spacebar {
    margin-left: -30px;
    margin-right: 20px;

}

/*
----------------------------------
- slider
----------------------------------
*/
.slider {
    display: block;
    appearance: none;
    width: 20%;
    height: 10px;
    background: #e0e0e0;
    opacity: 0.5;
    -webkit-transition: .2s;
    transition: opacity .2s;
}

.slide-container {
    margin-top: 20px;
    margin-left: 20px;
    font-family: 'Josefin Sans', sans-serif;
    color: white;
    font-weight:600;
    line-height: 1.3;

}

.slider:hover {
    opacity: 1;
}
.slider::-webkit-slider-thumb {
    appearance: none;
    width: 15px;
    height: 15px;
    background: #082053;
    cursor: pointer;
}

.new-wheel {
    margin-top: 30px;
}
/*
----------------------------------
- performance changes
----------------------------------
*/
.performances-container {
    position: fixed;
    top: 10px;
    right: 20px;
    font-family: 'Josefin Sans', sans-serif;
    text-align: center;
    
    display: none;

}
.performances-container > * {
    padding: 8px;
    margin-top: 10px;
    border-radius: 5px;
    font-weight:700;
}

/*
----------------------------------
- footer
----------------------------------
*/
.footer {
    position: fixed;
    bottom: 2%;
    right: 2%;
    margin: auto;

}

.help {
    position: fixed;
    bottom: 140px;
    right: 20px;
 
}

#linkedin, #github, #about{
    color: white;
    margin-right: 20px;
    font-size: 30px;
    text-decoration: none;
}

#about {
    font-weight: bolder;
    background-color:transparent;
    border: none;
    padding:0px;
    cursor: pointer;

}

#linkedin:hover, #github:hover, #about:hover {
    opacity: 0.7;
}