

/* .wheels-container{
    position:relative;
}

.wheels-container > * {
    display: flex;
}
.sliders-container{
    position: relative;

}
.slider {
    display: flex;

} */

.slider {
  appearance: none;
  width: 10%;
  height: 10px;
  background: #c2c2c2;
  opacity: 0.5;
  -webkit-transition: .2s;
  transition: opacity .2s;
}

.slider:hover {
    opacity: 1;
}

.slider::-webkit-slider-thumb {
    appearance: none;
    width: 15px;
    height: 15px;
    background: #082053;
    cursor: pointer;
}
  